.faqs {
	padding: 0 45px;
	&__list {
		margin-bottom: $margin-typo-desktop;
		border-bottom: 1px solid $dark-grey;
		text-align: left;
		&:last-child {
			border-bottom: none;
		}
	}
	&__item {
		margin-bottom: $margin-typo;
		width: 100%;
		h4 {
			margin-bottom: $margin-typo;
			width: 100%;
		}
		@include mq(tablet) {
			width: 50%;
  			padding: 0 26px;
		}
		@include mq(desktop) {
			width: 33.3%;
		}
	}
}