.form {
	max-width: 450px;
	margin: 0 auto;
	font-size: 1rem;
	&__label {
		display: none;
	}
	&__group {
		margin-bottom: 10px;
	}
	&__input {
		width: 100%;
		padding: 18px 18px;
		border-radius: 2px;
		border: none;
		outline: none;
		@include transition (all .3s ease-in-out);
		&::placeholder {
			color: $light-grey;
		}
		&:hover, &:focus, &:active {
			background-color: $lighter-grey;
		}
	}
	&__submit {
		display: block;
		width: 100%;
		padding: 18px 18px;
		color: $white;
		background: #9e9e9e;
		text-align: left;
		&:hover {
			background: $darkish-grey;
			color: $white;
		}	
	}
}