.header {
	width: 100%;
	height: 42px;
	line-height: 42px;
	text-align: center;
	background: $grey;
	float: left;
	margin-bottom: 35px;
	//@include transition (all .3s ease-in-out);
	z-index: 9999;
	position: relative;
	@include mq(desktop) {
		height: 60px;
		line-height: 60px;
	}
	.fixed & {
		@include mq(mobile,tablet) {
			position: fixed;
	//		top: 0;
		}
	}
	&__inner {
		height: 100%;
		margin: 0;
		width: 100%;
	}
	&__logo {
		display: block;
		background: url(../assets/build/mobile-logo.png) no-repeat $grey;
		width: 111px;
		height: 10px;
		background-size: 111px 10px;
		text-indent: -9999px;
		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translateY(-50%) translateX(-50%);
		float: none;
		@include transition (all .3s ease-in-out);
		@include mq(desktop) {
			width: 154px;
			height: 14px;
			background-size: 154px 14px;
			left: $margin-big;
			transform: translateY(-50%) translateX(0%);
		}
	}
	&__apply {
		position: absolute;
		top: 50%;
  		right: $margin;
		transform: translateY(-50%) translateX(0px);
		@include transition (all .3s ease-in-out);
		@include mq(desktop) {
			transform: translateY(-50%) translateX(-68px);
		}
	}
	.nav__toggle {
		position: absolute;
		top: 50%;
  		left: 0;
		transform: translateY(-50%) translateX(0px);
		@include transition (all .3s ease-in-out);
		@include mq(desktop) {
			left: 100%;
			transform: translateY(-50%) translateX(-62px);
		}
	}
}

